*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 150px;
  height: 150px;
  border: 1px dotted black;
}

.card h2 {
  font-size: 17px;
  color: blueviolet;
  text-align: center;
}

.li a {
  text-decoration: none;
}